@charset "utf-8";

/* webfont */
@font-face {
    font-family: 'WandohopeR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.track {
    animation: textflow1 6s linear infinite;
}

html,
body,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
span,
strong,
table,
th,
td,
em,
form,
input,
textarea,
img,
video {
    margin: 0;
    padding: 0;
}

/* html{
    font-size: ;
} */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'WandohopeR';
    font-size: 19px;
    color: #000;
    line-height: 1.5em;
}

#wrap {
    min-width: 1400px;
    overflow: hidden;
}

#header {
    background-color: #CCB8AF;
}

.inner_header {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 auto;
}

h1 {
    margin: 0 200px;
}

.menu {
    margin: 0 100px;
}

.gnb {
    display: flex;
    padding-top: 8px;
    font-size: 20px;
    margin: 0 20px;
}

.gnb li a {
    margin: 0 20px;
    font-weight: bold;
    color: #775548;
}

.gnb li a:hover {
    color: #FFEDE5;
    font-size: 20px;
}

#banner {
    overflow: hidden;
    height: 900px;
    position: relative;
}

#banner ul li {
    width: 1920px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}

#container {
    background: url(../image/main/background.jpg);
}

.inner_container {
    margin: 0 auto;
    width: 1320px;
}

.section1 {
    padding-top: 100px;
    margin-bottom: 100px;
}

.section2 {
    margin-bottom: 100px;
}

.section3 {
    display: flex;
    justify-content: space-between;
    margin-top: 168px;
}

.section4 {
    display: flex;
    justify-content: space-between;
    margin-top: 168px;
}

.title1 {
    padding-top: 114px;
    padding-right: 40px;
    padding-left: 40px;
}

.title2 {
    margin-top: 160px;
    text-align: center;
    padding-bottom: 55px;
}

.title3 {
    margin-top: 160px;
    text-align: center;
    padding-bottom: 60px;
}


.content1 {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    background-image: url(../image/main/page/circle.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 37px
}

.content2 {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    background-image: url(../image/main/page/circle.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding-top: 37px;
}

.cover_wrap {
    position: relative;
    background-color: #fff;
    border-radius: 83px;
    overflow: hidden;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cover_wrap img {
    transition: all 0.5s;
    display: block;
}

.cover_wrap:hover img {
    opacity: 0.5;
}

.cover h2 {
    color: #000;
    font-weight: bold;
    font-family: Cafe24Oneprettynight;
    opacity: 0;
    transition: all 0.5s;
}

.cover_wrap:hover .cover h2 {
    opacity: 1;
}


.description1 {
    font-family: Cafe24Oneprettynight;
    font-weight: bold;
    font-size: 19px;
    text-align: left;
}

.description2 {
    font-family: Cafe24Oneprettynight;
    font-weight: bold;
    font-size: 19px;
    text-align: right;
}

.description3 {
    font-family: Cafe24Oneprettynight;
    font-weight: bold;
    font-size: 19px;
    text-align: left;
    line-height: 50px;
    width: 200px;
    padding-top: 89px;
    margin-left: 50px;
}

.description4 {
    font-family: Cafe24Oneprettynight;
    font-weight: bold;
    font-size: 19px;
    text-align: left;
    line-height: 50px;
    width: 390px;
    padding-top: 89px;
}

.description5 {
    margin-left: 40px;
    font-weight: bold;
    font-size: 20px;
}

.picture {
    padding: 33px;
}

.map {
    display: flex;
    background-color: #fff;
    height: 428px;
    border-radius: 30px 30px 30px 30px;
}

.insta {
    display: flex;
    justify-content: space-between;
    padding-bottom: 225px;
}

#footer {
    background-color: #CCB8AF;
}

.inner_footer {
    display: flex;
    width: 1320px;
    margin: 0 auto;
    padding: 50px 0px;
}

.logo {
    width: 200px;
    padding-top: 50px;
}

.menu_wrap {
    width: 1000px;
}

.set {
    display: flex;
    margin-bottom: 43px;
    margin-left: 40px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 20px;
}

.set li {
    margin-right: 30px;
}

.set li:hover {
    color: #FFEDE5;
    font-size: 20px;
}

.sns {
    width: 240px;
    display: flex;
    justify-content: space-between;
    padding-top: 170px;
}