@charset "utf-8";

/* webfont */
@font-face {
    font-family: 'WandohopeR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.track {
    animation: textflow1 6s linear infinite;
}

html,
body,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
span,
strong,
table,
th,
td,
em,
form,
input,
textarea,
img,
video {
    margin: 0;
    padding: 0;
}

/* html{
    font-size: ;
} */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'WandohopeR';
    font-size: 19px;
    color: #000;
    line-height: 1.5em;
    background-image: url(../image/sub/3/background.jpg)
}

#wrap {
    min-width: 1400px;
}

#header {
    background-color: #CCB8AF;
}

.inner_header {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 auto;
}
h1 {
    margin: 0 200px;
}
h2{
    margin-top: 60px;
    text-align: center;
}
h3{
    margin-left: 170px;
}

.menu {
    margin: 0 100px;
}

.gnb {
    display: flex;
    padding-top: 8px;
    font-size: 20px;
    margin: 0 20px;
}

.gnb li a {
    margin: 0 20px;
    font-weight: bold;
    color: #775548;
}

.gnb li a:hover {
    color: #FFEDE5;
    font-size: 20px;
}

#banner {
    background: url(../image/sub/3/top/01.png) no-repeat center;
    height: 882px;
    margin-bottom: 100px;
}

#container {
    font-family: 'WandohopeR';
    color: #473127;
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    /* line-height: 10px; */
}

.show_01
,.gong-ye_01
,.stay_01
,.hanbok_01{
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.show_01 li,
.gong-ye_01 li,
.stay_01 li,
.hanbok_01 li{
    background-color: #C9B3A9;
}
.show_01 li:hover,
.gong-ye_01 li:hover,
.stay_01 li:hover,
.hanbok_01 li:hover{
    box-shadow: 6px 6px 6px 6px rgb(131, 88, 88);
}
/* .cover{
    margin-bottom: 80px;
} */


#footer {
    margin-top: 100px;
    background-color: #CCB8AF;
    font-family: 'WandohopeR';
}

.inner_footer {
    font-family: 'WandohopeR';
    font-weight: bold;
    display: flex;
    width: 1320px;
    margin: 0 auto;
    padding: 50px 0px;
}

.logo {
    width: 200px;
    padding-top: 50px;
}

.menu_wrap {
    width: 1000px;
}

.set {
    display: flex;
    margin-bottom: 43px;
    margin-left: 40px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 20px;
}

.set li {
    margin-right: 30px;
}

.set li:hover {
    color: #FFEDE5;
    font-size: 20px;
}

.sns {
    width: 240px;
    display: flex;
    justify-content: space-between;
    padding-top: 170px;
}
.description5 {
    margin-left: 40px;
    font-weight: bold;
    font-size: 20px;
}