@charset "utf-8";

/* webfont */
@font-face {
    font-family: 'WandohopeR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.track {
    animation: textflow1 6s linear infinite;
}

html,
body,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
span,
strong,
table,
th,
td,
em,
form,
input,
textarea,
img,
h1,
h2,
h3,
video {
    margin: 0;
    padding: 0;
}

/* html{
    font-size: ;
} */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'WandohopeR';
    font-size: 19px;
    color: #000;
    line-height: 1.5em;
}

#wrap {
    min-width: 1400px;
}

#header {
    background-color: #CCB8AF;
}

.inner_header {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 auto;
}
h1 {
    margin: 0 200px;
}
h2{
    margin-top: 60px;
    margin-bottom: 35px;
    text-align: center;
}
h3{
    margin-left: 170px;
}

.menu {
    margin: 0 100px;
}

.gnb {
    display: flex;
    padding-top: 8px;
    font-size: 20px;
    margin: 0 20px;
}

.gnb li a {
    margin: 0 20px;
    font-weight: bold;
    color: #775548;
}

.gnb li a:hover {
    color: #FFEDE5;
    font-size: 20px;
}

#banner {
    background: url(../image/sub/2/top/01.png) no-repeat center;
    height: 882px;
    margin-bottom: 100px;
}
.sub_banner{
    background: url(../image/sub/2/page/banner.png) no-repeat center;
    height: 445px;
    padding: 100px 0;
    margin: auto;
}

#container1
,#container2 {
    font-family: Cafe24Oneprettynight;
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}

.bukchon_01{
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.bukchon_01 li{
    height: 520px;
    position: relative;
}
.bukchon_01 li img{
    display: block;
}
.cover{
    height: 100%;
    background-color: rgba(0,0,0,0.5);   
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    opacity: 0;
    transition: opacity 1s;
}
.bukchon_01 li:hover .cover{
    opacity: 1;
}

.namsan_01{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.namsan_01 li{
    height: 520px;
    position: relative;
}
.namsan_01 li img{
    display: block;
}
.cover{
    height: 100%;
    background-color: rgba(0,0,0,0.5);   
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    opacity: 0;
    transition: opacity 1s;
}
.namsan_01 li:hover .cover{
    opacity: 1;
}

.andong_01{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.andong_01 li{
    height: 520px;
    position: relative;
}
.andong_01 li img{
    display: block;
}
.cover{
    height: 100%;
    background-color: rgba(0,0,0,0.5);   
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    opacity: 0;
    transition: opacity 1s;
}
.andong_01 li:hover .cover{
    opacity: 1;
}

.yangdong_01{
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.yangdong_01 li{
    height: 520px;
    position: relative;
}
.yangdong_01 li img{
    display: block;
}
.cover{
    height: 100%;
    background-color: rgba(0,0,0,0.5);   
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    opacity: 0;
    transition: opacity 1s;
}
.yangdong_01 li:hover .cover{
    opacity: 1;
}

.jeonju_01{
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.jeonju_01 li{
    height: 520px;
    position: relative;
}
.jeonju_01 li img{
    display: block;
}
.cover{
    height: 100%;
    background-color: rgba(0,0,0,0.5);   
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    opacity: 0;
    transition: opacity 1s;
}
.jeonju_01 li:hover .cover{
    opacity: 1;
}

#footer {
    margin-top: 100px;
    background-color: #CCB8AF;
    font-family: 'WandohopeR';
}

.inner_footer {
    font-family: 'WandohopeR';
    font-weight: bold;
    display: flex;
    width: 1320px;
    margin: 0 auto;
    padding: 50px 0px;
}

.logo {
    width: 200px;
    padding-top: 50px;
}

.menu_wrap {
    width: 1000px;
}

.set {
    display: flex;
    margin-bottom: 43px;
    margin-left: 40px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 20px;
}

.set li {
    margin-right: 30px;
}

.set li:hover {
    color: #FFEDE5;
    font-size: 20px;
}

.sns {
    width: 240px;
    display: flex;
    justify-content: space-between;
    padding-top: 170px;
}
.description5 {
    margin-left: 40px;
    font-weight: bold;
    font-size: 20px;
}
